:root{
  --heading-text-color: red;
  --text-color: pink;
  --circle-background: orange;
  --circle-border-color: green;
  --circle-border-width: 0.5em;
  --circle-border-radius: 50%;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

header h1{
  color: var(--heading-text-color);
}

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background: black;
  margin-block: 1em;
  padding-block: 1em;
  gap: 1em;
}

.circle{
  position: relative;
  height: 120px;
  width:120px;
  background: var(--circle-background);
  border-radius: var(--circle-border-radius);
  border: var(--circle-border-width) solid var(--circle-border-color);
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
}

.circle p{
  ddisplay: none;
}

.circle span{
  position: absolute;
  height: 130px;
  width: 130px;
  background: blue;
  overflow: hidden;
  clip-path: 10px;
}

#shuffle-button{
  font-size: 1.5rem;
  padding: 0.4em;
  border-radius: 8em;
  min-width: 8em;
}