:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #252525;
  padding: 6px;
  border-radius: 6px;
}

ul a:first-child li{
  background-color: red;
}

ul a:first-child li:hover{
  background-color: orange;
}

ul a:not(:first-child) li:hover{
  background-color: red;
}

.wrapper{
  display: grid;
  place-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: #222;
  min-width: 100%;
  color: #ffffff;
  padding: 10px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

header input{
  width: 6em;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4em;
  outline: none;
}

header input:hover{
  outline: 1px solid red;
  outline-offset: 4px;
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  margin-block: 2em;
  padding-inline: 2em;
  padding-block: 1em;
  width: 80%;
}

main img{
  border-radius: 10px;
  height: 100px;
  transition: transform 0.4s linear;
}

main img:hover{
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  header{
    padding: 20px;
  }

  header ul{
    gap: 30px;
    text-align: center;
  }

  ul li{
    width: 100px;
    font-size: 1.4rem;
  }

  main{
    grid-template-columns: repeat(3, 1fr);
  }
  
  main img{
    width: 100%;
    height: 250px;
  }

  header input{
    width: 90%;
    font-size: 1.6rem;
    padding: 0.5em;
  }
}