:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #252525;
  padding: 6px;
}

li:first-child {
  background-color: red;
}

.wrapper{
  display: grid;
  place-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: #222;
  min-width: 100%;
  color: #ffffff;
  padding: 10px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

header input{
  width: 6em;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4em;
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  margin-block: 1em;
  padding-inline: 2em;
  padding-block: 1em;
}

main img{
  border-radius: 10px;
  height: 100px;
}