*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Sans-Serif;
  font-size: 1.4rem;
  height: 100vh;
  background: #333;
  background: url("images/bg-calc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper{
  padding: 2em;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  border-radius: 20px;
}

.screen{
  display: grid;
  min-height: 150px;
  background: hsl(120,100%,95%);
  border-radius: 20px;
  margin: 10px 10px 50px 10px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 1.8rem;
  text-align: right;
  padding: 10px;
  resize: none;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-calc{
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  text-align: left;
}

.current-calc{
  color: rgba(0, 0, 0, 1);
  font-size: 2rem;
  margin-top: 1em;
}

.btns-div{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
  'mem-clear mem-add divide multiply'
  'seven eight nine minus'
  'four five six plus'
  'one two three equal'
  'zero-num zero-num dot equal'
  ;
  gap: 1em;
}

#mem-clear{
  grid-area: mem-clear;
}
#del{
  grid-area: mem-add;
}
#divide{
  grid-area:divide;
}
#multiply{
  grid-area: multiply;
}
#seven{
  grid-area: seven;
}
#eight{
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#minus{
  grid-area: minus;
}
#four{
  grid-area:four;
}
#five{
  grid-area:five;
}
#six{
  grid-area: six;
}
#plus{
  grid-area:plus;
}
#one{
  grid-area: one;
}
#two{
  grid-area: two;
}
#three{
  grid-area: three;
}
#zero-num{
  grid-area:zero-num;
}
#dot{
  grid-area: dot;
}
#equal{
  grid-area: equal;
}

.btn, .btn-num, .btn-opt, .btn-dot{
  display: grid;
  background: hsl(0,0%,50%);
  color: #fff;
  padding: 0.6em;
  place-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
}
#equal{
  background: #FB6B15;
}

#del, #multiply, #divide{
  background: #222;
  color: #fff;
}

#mem-clear{
  background: #DF2E04;
  color: #fff;
}

.2{
  color: red;
}